<p>2-D Things</p>
<div class="example-grid">
  <app-example
    href="https://www.html5rocks.com/en/tutorials/canvas/imagefilters/#sobel"
    staticSrc="assets/image-filters-sobel.png"
  ></app-example>
  <app-example
    href="https://pixijs.io/examples/#/demos-advanced/star-warp.js"
    staticSrc="assets/starfield.png"
    gifSrc="assets/starfield.gif"
  ></app-example>
  <app-example
    href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API/Visualizations_with_Web_Audio_API"
    staticSrc="assets/2d-audio-waveform.png"
  ></app-example>
  <app-example
    href="https://d3js.org/"
    staticSrc="assets/d3.png"
  ></app-example>
  <app-example
    href="https://heptad.itch.io/capacity"
    staticSrc="assets/capacity.png"
    gifSrc="assets/capacity.gif"
  ></app-example>
  <app-example
    href="https://agar.io/index.html"
    staticSrc="assets/agario.png"
    gifSrc="assets/agario.gif"
  ></app-example>
</div>