<p>3-D Things</p>
<div class="example-grid">
    <app-example
      href="https://labs.sketchfab.com/sculptfab/"
      staticSrc="assets/sculptfab.png"
      gifSrc=""
    ></app-example>
    <app-example
      href="https://playcanv.as/p/44MRmJRU/"
      staticSrc="assets/after-flood.jpg"
      gifSrc="assets/after-flood.gif"
    ></app-example>
    <app-example
      href="https://threejs.org/examples/?q=gli#webgl_postprocessing_glitch"
      staticSrc="assets/glitch.png"
      gifSrc="assets/glitch.gif"
    ></app-example>
    <!-- This repo specifically is a bit old, also look here: -->
    <!-- https://blog.mozvr.com/voxeljs-next/ -->
    <app-example
      href="http://maxogden.github.io/voxel-engine/"
      staticSrc="assets/voxel.png"
    ></app-example>
    <app-example
      href="https://medium.com/neo4j/visualizing-graphs-in-3d-with-webgl-9adaaff6fe43"
      staticSrc="assets/3d-graph-data.jpg"
    ></app-example>
    <app-example
      href="https://demos.littleworkshop.fr/infinitown"
      staticSrc="assets/infinitown.png"
      gifSrc="assets/infinitown.gif"
    ></app-example>
</div>