<h2>Canvas Accessibility</h2>
<p class="fragment fade-up">
    For now, all we have is 
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/addHitRegion">addHitRegion</a>, 
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/removeHitRegion">removeHitRegion</a>, 
    and <a href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/clearHitRegions">clearHitRegions</a>
</p>
<p class="fragment fade-up">
  This feature is also experimental and likely to change in 
  <a href="https://github.com/whatwg/html/issues/3407">future specs</a>
</p>