<p>VR and AR Things</p>
<div class="example-grid">
    <app-example
      href="https://blog.mozvr.com/hubs-on-oculus-quest-social-vr/"
      staticSrc="assets/hubs.jpg"
      gifSrc="assets/hubs.gif"
    ></app-example>
    <app-example
      href="https://github.com/google-ar/WebARonARCore"
      staticSrc="assets/webar-arcore.png"
      gifSrc="assets/webar-arcore.gif"
    ></app-example>
    <app-example
      href="https://aframe.io/examples/showcase/moonrider/"
      staticSrc="assets/moonrider.jpg"
      gifSrc="assets/moonrider.gif"
    ></app-example>
</div>